<div class="container" ng-controller="vmkAddController">
    <h2>Add Maker</h2>
    <form  name="vmkAddForm">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" ng-model="Name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="abrv">Abrv:</label>
            <input type="text" class="form-control" id="abrv" ng-model="Abrv" placeholder="Enter abrv">
        </div>
        <button type="submit" class="btn btn-default" ng-click="addVehicleMake()">Submit</button>
    </form>
</div>
