<div ng-controller="vmkDeleteController" ng-init="deleteInit()">
    <h4 style="margin-top:20px">Vehicle Make</h4>
    <hr />

    <dl class="dl-horizontal">

        <dt>
            Name
        </dt>

        <dd>
            {{deleteData.Name}}
        </dd>

        <dt>
            Abrv
        </dt>

        <dd>
            {{deleteData.Abrv}}
        </dd>

    </dl>

    <form>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" ng-click="deleteVmk()"/> 
        </div>
    </form>
</div>