<div class="container" style="margin-top:20px" ng-controller="vehicleMakeController" ng-init="getAllVmk()">
       
    <div class="row">
        <a class="col-md-8" ui-sref="vehicleMake.addVmk">Create Vehicle Make</a>
        <a ui-sref="vehicleMake" class="col-md-1 col-md-offset-2"><input class="btn-info" type="submit" value="Refresh" ng-click="getAllVmk()" /></a>
    </div>

    <div style="margin-top:10px">
        <label>Search any:  <input ng-model="searchText"/></label>
    </div>

    <table class="table table-bordered table-hover" style="margin-top:20px" >
        <thead class="thead-inverse">
            <tr>
                <th ng-click="sortBy('Name')">Name
                    <span class="glyphicon sort-icon" ng-show="propertyName == 'Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse} "></span>
                </th>
                <th ng-click="sortBy('Abrv')">Abrv
                    <span class="glyphicon sort-icon" ng-show="propertyName == 'Abrv'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th>Edit, Details and Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="item in vehicleMakes | filter:searchText | orderBy:propertyName:reverse | itemsPerPage:5">
                <td>{{item.Name}}</td>
                <td>{{item.Abrv}}</td>
                <td>
                    <a ui-sref="vehicleMake.editVmk({VmkId: item.VehicleMakeId})">Edit</a>
                    <a ui-sref="vehicleMake.detailsVmk({VmkId: item.VehicleMakeId})">Details</a>
                    <a ui-sref="vehicleMake.deleteVmk({VmkId: item.VehicleMakeId})">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <dir-pagination-controls max-size="10"
                             direction-links="true"
                             boundary-links="true">
    </dir-pagination-controls>

    <div class="container" ui-view="child"></div>
</div>