<div class="container" ng-controller="vehicleMakeController" ng-init="getAllVmk()">
    <h2>Add Model</h2>
    <form name="vmlAddForm" ng-controller="vmlAddController">
        <div class="form-group">
            <label for="maker">Maker:</label>
            <div>
                <select class="selectpicker dropdown" data-style="btn-primary" ng-model="dataAdd.VehicleMakeId">
                    <optgroup label="Maker">
                        <option  ng-repeat="item in vehicleMakes" value="{{item.VehicleMakeId}}">
                            {{item.Name}}
                        </option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" ng-model="dataAdd.Name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="abrv">Abrv:</label>
            <input type="text" class="form-control" id="abrv" ng-model="dataAdd.Abrv" placeholder="Enter abrv">
        </div>
        <button type="submit" class="btn btn-default" ng-click="addVehicleModel()">Submit</button>
    </form>
</div>