<div ng-controller="vmlDetailsController">

    <h4 style="margin-top:20px">Vehicle Model</h4>
    <hr />

    <dl class="dl-horizontal" style="margin-top:20px">
        <dt>
            Maker:
        </dt>
        <dd>
            {{detailsData.VehicleMake.Name}}
        </dd>
        <dt>
            Name:
        </dt>
        <dd>
            {{detailsData.Name}}
        </dd>

        <dt>
            Abrv:
        </dt>
        <dd>
            {{detailsData.Abrv}}
        </dd>
    </dl>
</div>